<div class="container-fluid mt-3">
  <div class="text-center">
    <h1 class="mb-4 font-weight-bold">About</h1>

    <h3>ながのCAKEは全国発送可能なケーキ屋さんです。</h3>
    <h3>お子様からお年寄りの方までお召し上がりいただけるよう、</h3>
    <h3>様々なバリエーションをご用意しております。</h3>
    <h3>また、全国へ発送可能ですので「いつ」「どこ」でもご注文いただけます。</h3>
    <h3>ぜひご注文ください。</h3>


    <%= image_tag "ながのcake.jpg", :size => "800x500" %>
  </div>
</div>
