  <div class="container-fluid m-5">

    <h3 class="mb-3"><span class="bg-warning">会員一覧</span></h3>

    <table class="table">
      <thead>
        <tr class="table-warning">
          <th class="h5">会員ID</th>
          <th class="h5">氏名</th>
          <th class="h5">メールアドレス</th>
          <th class="h5">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= link_to customer.first_name + customer.last_name, admin_customer_path(customer.id) %></td>
          <td><%= customer.email %></td>
          <% if customer.is_deleted %>
            <td>退会</td>
          <% else %>
            <td>有効</td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="d-flex justify-content-center">
      <%= paginate @customers %>
    </div>
  </div>