
<div class="container-fluid m-5">
  <h3 class="mb-3"><span class="bg-warning">ジャンル編集</span></h3>

  <%= form_with model: @genre ,url: admin_genre_path(@genre.id) do |f| %>
    <%= f.label :name, "ジャンル編集" %>
    <%= f.text_field :name %>
    <%= f.submit "変更を保存",class:"btn btn-success" %>
  <% end %>
</div>
