<h1>商品一覧(全XX件)</h1>


<% @items.each do |item| %>

<table>
  <thead>
    <tr>
      <th><%= image_tag item.image %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= item.name %></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>¥<%= item.add_tax_price.to_s(:delimited) %></td>
    </tr>
  </tfoot>
</table>

 <% end %>

 <%= paginate @items %>